<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Login</h1>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="POST">
		<label for="username">Usuario:</label> <input type="text"name="username" id="username" /> 
		
		<br /> 
		<label for="password">Clave:</label>
		<input type="password" name="password" id="password" /> <br />
		<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
		
		<button type="submit">Iniciar Sesi&oacuten</button>
	</form>
	
	<div>
	<a
              href="#"
              th:href="@{/registroUsuario}"
              
              rel="noopener noreferrer"
              >Registrate!</a>
	</div>
</body>
</html>