<!DOCTYPE html>
<html lang="en" 
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!--El nombre de la página es registrarLibro  -->
    <form action="#" th:action="@{/registrarLibro}" method="post">
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" id="isbn">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <br>
    <!-- Hacer lo mismo para los demas campos  -->
    
    
    <button type="submit">Registrar</button>
    </form>
    
    <label for="anio">Año Publicacion</label>
    <input type="number" name="anio" id="anio">
    <br>
    <label for="ejemplares">Cantidad Ejemplares</label>
    <input type="number" name="ejemplares" id="ejemplares">
    <br>
    <label for="ejemplaresPrestados">Cantidad Ejemplares Prestados</label>
    <input type="number" name="ejemplaresPrestados" id="ejemplaresPrestados">
    <br>
    <label for="ejemplaresRestantes">Cantidad Ejemplares Restantes</label>
    <input type="number" name="ejemplaresRestantes" id="ejemplaresRestantes">
    <br>
    <label for="nombreAutor">Autor</label>
   <input type="text" name="nombreAutor" id="nombreAutor">
    <br>
    <br>
     <label for="nombreEditorial">Editorial</label>
   <input type="text" name="nombreEditorial" id="nombreEditorial">
    <br>
    
<br>
    
    
    <div>
    <b>Usuario:</b> <span sec:authentication="name"> Nombre Usuario </span>
    <br>
    <b>Rol:</b> <span sec:authentication="principal.authorities"> Rol Usuario</span>
    </div>
</body>
</html>