<!DOCTYPE html>
<html lang="en" 
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" th:action="@{/libro/modificarLibro}" th:object="${libro}" method="post">
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" th:field="*{isbn}">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" th:field="*{nombre}">
    <br>
    <label for="anio">Año Publicacion</label>
    <input type="number" name="anio" th:field="*{anio}">
    <br>
    <label for="ejemplares">Cantidad Ejemplares</label>
    <input type="number" name="ejemplares" th:field="*{ejemplares}">
    <br>
    <label for="ejemplaresPrestados">Cantidad Ejemplares Prestados</label>
    <input type="number" name="ejemplaresPrestados" th:field="*{ejemplaresPrestados}">
    <br>
    <label for="ejemplaresRestantes">Cantidad Ejemplares Restantes</label>
    <input type="number" name="ejemplaresRestantes" th:field="*{ejemplaresRestantes}">
    <br>
    <label for="idAutor">Autor</label>
    <select name="idAutor" th:field="*{autor}">
        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="|${autor.nombre} ${autor.apellido}|" ></option>
    </select>
    <br>
    <label for="idEditorial">Editorial</label>
    <select name="idEditorial" th:field="*{editorial}">
        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" ></option>
    </select>
<br>
    <button type="submit">Registrar</button>
    </form>
    
    <div>
    <b>Usuario:</b> <span sec:authentication="name"> Nombre Usuario </span>
    <br>
    <b>Rol:</b> <span sec:authentication="principal.authorities"> Rol Usuario</span>
    </div>
</body>
</html>