<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agrega los datos del autor</h1>
    <form action="/registrarAutor" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <br>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" id="apellido">
    <br>
    <hr>
        <button type="submit">Registrar</button>
        
    </form>

    <br>
    <a href="/index.html">Inicio</a>
</body>
</html>